.deps
**/*.la
**/*.lo
**/*.log
**/*.o
**/autom4te.cache
/config
/config.status
/configure
/doc/*.stamp
/doc/html
/examples/.libs
/libtool
/m4
/src/.libs
/test/.libs
aclocal.m4
config.h*
Doxyfile
examples/fes_slev
examples/fes_uv
Makefile
Makefile.in
stamp-h1
test/t_angle
test/t_angle.trs
test/t_fes
test/t_fes.trs
test/t_grid
test/t_grid.trs
test/t_interp
test/t_interp.trs
test/t_prediction
test/t_prediction.trs
