repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-yaml
        exclude: "(conda/meta.yaml|.clang\\-format)$"
      - id: debug-statements
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: docs/make.bat
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.21.0"
    hooks:
    - id: pyupgrade
      args: [--py310-plus]
      exclude: setup.py
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: tests
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        additional_dependencies:
          - toml
        files: \.py(?:i)?
  # - repo: https://github.com/myint/docformatter
  #   rev: "v1.7.5"
  #   hooks:
  #   - id: docformatter
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: "v0.6.13"
    hooks:
    - id: cmake-lint
    - id: cmake-format
      additional_dependencies: [pyyaml]
      types: [file]
      files: CMakeLists.txt
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
    - id: codespell
      exclude: "leap-seconds.txt"
      args: [-L inout]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        exclude: "(dataset.*json)$"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        exclude: docs
        additional_dependencies:
          # Type stubs
          - types-PyYAML
