repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-yaml
        exclude: "(conda/meta.yaml|.clang\\-format)$"
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: (docs.make.bat)
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.21.0"
    hooks:
    - id: pyupgrade
      args: [--py310-plus]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
      - id: ruff-format
        args : [--line-length=80]
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: "v0.6.13"
    hooks:
    - id: cmake-lint
    - id: cmake-format
      additional_dependencies: [pyyaml]
      types: [file]
      files: CMakeLists.txt
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
    - id: codespell
      exclude: "leap-seconds.txt"
      args: [-L inout]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        exclude: "(.*json)"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        exclude: docs
        additional_dependencies:
          # Type stubs
          - types-setuptools
          - types-PyYAML
          # Typed libraries
